@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111010af;
}
.box{
    position: relative;
    width: 380px;
    height: 450px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left:-50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#00FF19,#00FF19);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left:-50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#00FF19,#00FF19);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background-color: #0E0E3F;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
.form h2{
    color: #00FF19;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #242c25;
    font-size: 1em;
    letter-spacing: 0.05em;
    letter-spacing: 0.05em;
    z-index: 10;
}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: #00FF19;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0.75em;
}
.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #00FF19;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i{
    height: 44px;
}
.links{
    display: flex;
    justify-content: space-between;
}
.links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.links a:hover,
links a:nth-child(2){
    color: #00FF19;
}
.button{
    border: none;
    outline: none;
    background: #00FF19;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.button:hover{
    color: #00FF19;
    transition: 0.5s;
    background: rgb(12, 4, 41);
}

/* Responsivade tela de login e cadastro */

@media only screen and (max-width:950px){
    .card-login{
        width: 85%;
    }

    .linha{
        width: 300px;
        border: 1px solid #00FF19;
    }
}

@media only screen and (max-width:600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vw;
    }
    .card-login{
        width: 90%;
        margin-bottom: 70px;
    }

    .linha{
        width: 350px;
        border: 1px solid #00FF19;
    }
}