/* Responsividade da tela de apostas */

@media only screen and (max-width:950px){
    .card-apostas{
        width: 85%;
    }
}

@media only screen and (max-width:600px){
    .conteudo1{
        width: 70%;
        height: auto;
    }
    .card-apostas{
        width: 90%;
    }
}